/* 
    Defines any styling overrides for the portfolio application.
*/

html, body {
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
    color: #666;
}

body * {
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
}

.disabled-cursor {
    cursor: not-allowed !important;
}

.content-home {
    padding-top: 70px;
    padding-bottom: 70px;
}

pre code * {
    font-family: Consolas, Monaco, monospace !important;
    font-size: 10pt;
}