{% extends "base.html" %}
{% set active_page = "error" %}

{% block title %}
    <title>404: Page Not Found</title>
{% endblock %}

{% block nav %}
    {% from "nav.html" import nav %}
    {{ nav(active_page) }}
{% endblock %}

{% block content %}
    <div class="content">
        <h1>Oh no!</h1>

        <p>It looks as though you've taken a wrong turn somewhere, as the page you're looking for does not exist!</p>

        <p>If you believe this a mistake, feel free to send me a message using the contact page.
        </p>
        <br>

        <div class="text-center">
            <a class="btn btn-primary" href="/">Take me somewhere safe!</a>
            <a class="btn" href="/contact/">Contact</a>
        </div>
    </div>
{% endblock %}

