{% extends "base.html" %}
{% set active_page = "error" %}

{% block title %}
    <title>500: Server Error</title>
{% endblock %}

{% block nav %}
    {% from "nav.html" import nav %}
    {{ nav(active_page) }}
{% endblock %}

{% block content %}
    <div class="uk-section uk-section-default section-pad">
        <div class="uk-container">

            <h1 class="uk-heading-primary">Oh no!</h1>

            <p>Something unexpected went wrong. Please feel free to send me a message using the contact page.</p>
            
            <br>

            <div class="text-center">
                <a class="uk-button uk-button-primary" href="/">Take me somewhere safe!</a>
                <a class="uk-button uk-button-default" href="/contact/">Contact</a>
            </div>

        </div>
    </div>
{% endblock %}

