{% extends "base.html" %}
{% set active_page = "blog" %}

{% block title %}
    <title>Jed Simson &sdot; Blog</title>
{% endblock %}

{% block description %}
    <meta name="description" content="Blog of Jed Simson">
{% endblock %}

{% block nav %}
    {% from "nav.html" import nav %}
    {{ nav(active_page) }}
{% endblock %}

{% block modals %}
    {% for post in blog_posts %}     
        {% from "blog/modal.html" import modal_ %}
        {{ modal_(loop.index, post) }}
    {% endfor %}
{% endblock %}

{% block content %}
    <div id="top-anchor"></div>
    <div class="content">
        <!-- Pagination -->
        <div>
            {% from "blog/pagination.html" import pagination_ %}
            {{ pagination_(pagination) }}
        </div>
    
        <!-- List -->
        <div>            
            {% for post in blog_posts %}
                {% from "blog/list-post.html" import list_post_ %}

                {{ list_post_(loop.index, post, pagination, skip) }}
            {% else %}
                <div class="card text-center">
                    <div class="alert alert-danger" role="alert">
                        <p class="font-weight-bold">Sorry, I have not made any blog posts yet!</p>
                    </div>                      
                </div>
            {% endfor %}
        </div>
    
        <div class="text-center">
            <a class="btn btn-lg btn-primary m-auto" href="#top-anchor" title="Scroll to top">
                <i data-feather="arrow-up" width="18" height="18" alt="Go to top"></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script nonce="{{ csp_nonce() }}" type="text/javascript">
        (function() {
            // Initialise code highlighting library
            hljs.highlightAll();
        })();
    </script>
{% endblock %}
