{% extends "base.html" %}
{% set active_page = "blog" %}

{% block title %}
    <title>Jed Simson &sdot; Blog | Tag: {{ tag }}</title>
{% endblock %}

{% block description %}
    <meta name="description" content="Blog posts by Jed Simson tagged {{ tag }}.">
{% endblock %}

{% block nav %}
    {% from "nav.html" import nav %}
    {{ nav(active_page) }}
{% endblock %}

{% block modals %}
    {% for post in posts %}     
        {% from "blog/modal.html" import modal_ %}
        {{ modal_(loop.index, post) }}
    {% endfor %}
{% endblock %}

{% block content %}
    <div id="top-anchor"></div>
    <div class="content">

        <!-- Header -->
        <h1>Blog</h1>
        <h3 class="font-italic">#{{ tag }}</h3>

        <!-- List -->
        <div>
            {% for post in posts %}
                {% from "blog/list-post.html" import list_post_ %}
                
                {{ list_post_(loop.index, post, None, 0) }}
            {% else %}
                <div class="card text-center">
                    <div class="alert alert-danger" role="alert">
                        <p class="font-weight-bold">Sorry, no posts with that tag exist!</p>
                    </div>                    
                </div>
            {% endfor %}
        </div>

        <div class="text-center">
            <a class="btn btn-lg bg-black m-auto" href="#top-anchor" title="Scroll to top">
                <i data-feather="arrow-up" width="18" height="18" alt="Go to top"></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script nonce="{{ csp_nonce() }}" type="text/javascript">
        $(document).ready(function() {
            // Don't allow clicking the disabled pagination links
            $('.disabled-cursor').click(function() {
                return false;
            });

            // Initialise code highlighting library
            hljs.initHighlightingOnLoad();
        });
    </script>
{% endblock %}
