{% macro list_post_(idx, post, pagination, skip) %}
<div class="card">
    <div class="content clearfix border-bottom">
        <h1 class="content-title font-size-24 float-left">
            <a class="text-reset" href="{{ url_for('portfolio.blog_post', year=post.year, month=post.month, day=post.day, slug=post.slug) }}">
                {{ post.title }}
            </a>
        </h1>

        <div class="float-right hidden-sm-and-down">
            <div class="dropdown">                
                <i data-feather="menu" data-toggle="dropdown" width="18" height="18" alt="Options"></i>
                
                <div class="dropdown-menu">
                    <h6 class="dropdown-header">Options</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('static', filename='assets/posts/' + post.filename) }}">Download</a>
                    <a class="dropdown-item" href="#blog_post_modal_{{ idx }}">Info</a>
                </div>        
            </div>
        </div>
    </div>

    <div class="content border-bottom"">
        <a class="badge badge-primary" href="{{ url_for('portfolio.blog_by_year', year=post.year) }}">
            {{ post.date }}
        </a>        

        <div class="pb-20">
            {{ post.text|markdown|truncate(600, end='...') }}
            
            <div class="text-right">
                <a class="btn btn-sm" href="{{ url_for('portfolio.blog_post', year=post.year, month=post.month, day=post.day, slug=post.slug) }}">
                    Continue Reading...
                </a>
            </div>
        </div>
    </div>

    <div class="content clearfix">
        <div class="float-left">
            {% for tag in post.tags %}
                <a class="badge bg-dark text-white" href="{{ url_for('portfolio.blog_by_tag', tag=tag) }}">
                    #{{ tag }}
                </a>
            {% endfor %}
        </div>

        <span class="text-muted float-right">
            {% if pagination %}
                {{ idx + skip }} of {{ pagination.total_count }} 
            {% endif %}
        </span>
    </div>
</div>
{% endmacro %}
