{% macro modal_(idx, post) %}
<div class="modal" id="blog_post_modal_{{ idx }}" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content w-600">
            <a href="#" class="close" role="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>

            <h2 class="modal-title">Post Info</h2>

            <table class="table">
                <tbody>
                    {% for key, value in post.info %}
                        <tr>
                            <td><b>{{ key }}</b></td>
                            <td>{{ value|format_value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="text-right">
                <a href="#" class="btn btn-primary" role="button">Close</a>
              </div>
        </div>
    </div>
</div>
{% endmacro %}
