{% macro pagination_(pagination) %}
<ul class="uk-pagination uk-flex-center" uk-margin>
    <li>
        <a {% if not pagination.has_prev %}href="#" class="disabled-cursor uk-link-reset"{% else %}href="/blog/page/{{ pagination.page - 1 }}/"{% endif %}>
            <span uk-pagination-previous></span>
        </a>
    </li>

    {% for page in pagination.generate() %}
        <li {% if page == pagination.page %}class="uk-active"{% endif %}>
            <a href="/blog/page/{{ page }}/">{{ page }}</a>
        </li>
    {% endfor %}

    <li>
        <a {% if not pagination.has_next %}href="#" class="disabled-cursor uk-link-reset"{% else %}href="/blog/page/{{ pagination.page + 1 }}/"{% endif %}>
            <span uk-pagination-next></span>
        </a>
    </li>
</ul>
{% endmacro %}
