{% macro post_content_(idx, post) %}
<article class="content border-bottom">
    <!-- Header -->
    <header>
        <h1>
            <a class="text-reset" href="{{ url_for('portfolio.blog_post', year=post.year, month=post.month, day=post.day, slug=post.slug) }}">{{ post.title }}</a>
        </h1>
    
        <div class="clearfix">
            <div class="float-left">
                <span class="text-muted">
                    <i data-feather="clock" width="12" height="12" alt="Date"></i>
        
                    {{ post['author'] }} on {{ post['date'] }}
                </p>
            </div>

            <div class="btn-group float-right" role="group">
                <a class="btn" href="{{ url_for('static', filename='assets/posts/' + post.filename) }}">
                    <i data-feather="download" width="16" height="16" alt="Download"></i>
                </a>
                <a class="btn" href="#blog_post_modal_{{ idx }}">
                    <i data-feather="info" width="16" height="16" alt="Info"></i>
                </a>
            </div>
        </div>

    </header>

    <hr class="uk-margin-medium">

    <!-- Content -->
    <section class="content border-bottom">
        {{ post.text|markdown }}
    </section>

    <!-- Tags -->
    <div class="content" uk-grid>
        {% for tag in post.tags %}
        <a class="badge bg-dark text-white" href="{{ url_for('portfolio.blog_by_tag', tag=tag) }}">
            #{{ tag }}
        </a>
    {% endfor %}
    </div>

    <!-- Comments -->
    <div>
        <div id="disqus_thread"></div>
        <script nonce="{{ csp_nonce() }}">
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://jedsimson-co-nz.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</article>
{% endmacro %}
