{% extends "base.html" %}
{% set active_page = "about" %}

{% block title %}
    <title>Jed Simson &sdot; About</title>
{% endblock %}

{% block nav %}
    {% from "nav.html" import nav %}
    {{ nav(active_page) }}
{% endblock %}

{% block content %}
    <!-- Background -->
    <div class="uk-section uk-section-default section-pad">
        <div class="uk-container">
            <h1 class="uk-heading-primary">About</h1>

            <h2 class="uk-heading-bullet">Me</h2>

            <p>
                I am currently a Software Developer at <a href="https://www.vista.co" target="_blank">Vista Entertainment Solutions</a> 
                where I work primarily with a .NET stack, alongside SQL Server, Angular and TypeScript.
                Each day brings forward new problems to test my problem solving abilities &mdash; one of the key factors behind my interest in software development and computer science in general.
            </p>

            <p>
                Applying the knowledge gained during completion of a Bachelor of Computing and Mathematical Sciences (Hons) degree from the University of Waikato, I strive to achieve a high quality of work in all my professional and personal pursuits.
                A subset of my personal projects can be found on either my <a href="https://gitlab.com/u/JedS6391" target="_blank">GitLab</a> or <a href="https://github.com/JedS6391" target="_blank">GitHub</a> accounts.
            </p>

            <p>
                I am passionate about technology &mdash; with a particular interest in artificial intelligence, computer networks, and compiler theory/construction.
                I aim to stay informed regarding the state-of-the-art techniques so that I can leverage them in my work; for example, I am always looking for novel techniques to add to my <a href="https://github.com/JedS6391/LGP" target="_blank">open-source Linear Genetic Programming system</a> (view the accompanying thesis <a href="{{ url_for('static', filename='assets/thesis/Open-Source Linear Genetic Programming.pdf') }}">here</a>).
            </p>

            <p>
                On the side, I play an array of different instruments and enjoy creating music in all sorts of styles which I can share with the world.
            </p>

            <hr class="uk-margin-medium">

            <h2 class="uk-heading-bullet">Interests</h2>

            <h3>Computing</h3>

            <p>
                I am confident using a variety of different technologies, with my most comfortable stacks being .NET and Python. 
                
                This site was created using Python and the excellent Flask framework &mdash; feel free to <a href="https://github.com/JedS6391/portfolio-jed-simson" target="_blank">view the source</a>.
            </p>

            <p>
                An exhaustive list of technologies I am familiar with can be found within my CV, but here is a subset of my most
                frequently used languages/frameworks/etc:
            </p>

            <dl class="uk-description-list">
                <dt><b>Primary languages</b></dt>
                <dd>C#, Python, Java, Kotlin, HTML, CSS, TypeScript</dd>
                <dt><b>Primary frameworks</b></dt>
                <dd>.NET (framework and core), ASP.NET core, Entity Framework, Flask, Angular, Bootstrap</dd>
                <dt><b>Databases</b></dt>
                <dd>MySQL, SQL Server, PostgreSQL, MongoDB, Redis</dd>
                <dt><b>Version Control</b></dt>
                <dd>Git, GitHub, GitLab, Team Foundation Server</dd>
            </dl>

            <p>
                Learning new languages, frameworks, and other technologies is important to me, as I believe it all
                contributes to me becoming a better developer &mdash; particularly by showing me new approaches to
                solving problems and helping me create informed decisions regarding technology choice.
            </p>

            <h3>Music</h3>
            <p>
                I consider myself to be a passionate musician. I love to create interesting music which could be described as a mix of genres such as Jazz,
                Progressive Rock, Alternative, Ambient, and a whole lot more! Some of my music is available on my
                <a href="https://soundcloud.com/jed-simson" target="_blank">SoundCloud</a> account.
            </p>

            <hr class="uk-margin-medium">
        </div>
    </div>

    <!-- Projects -->
    <div class="uk-section uk-section-default section-pad">
        <div class="uk-container">

            <h1>Projects</h1>
            <p class="uk-text-muted"><i>A selection of programming projects I've been working on.</i></p>

            <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match project-grid" uk-grid>
                {% from "project.html" import project_ %}
                
                {% for project in project_feed %}
                    {{ project_(project, "dark" if loop.index % 2 == 0 else "light") }}
                {% else %}
                    <div class="uk-card uk-card-body text-center">
                        <p class="text-danger"><strong>Sorry, I do not have any projects to show yet!</strong></p>
                    </div>
                {% endfor %}         
            </div>
        </div>
    </div>

{% endblock %}

