{% macro article_(idx, post) %}
<article class="uk-article uk-width-1-1 uk-text-medium">
    <h1 class="uk-article-title">
        <a class="uk-link-reset" href="{{ url_for('portfolio.blog_post', year=post.year, month=post.month, day=post.day, slug=post.slug) }}">{{ post.title }}</a>
    </h1>

    <p class="uk-article-meta">
        Written by {{ post['author'] }} on {{ post['date'] }}.
    </p>

    <ul class="uk-iconnav">
        <li><a class="uk-icon" href="{{ url_for('static', filename='assets/posts/' + post.filename) }}" uk-icon="icon: download; ratio: 1"></a></li>
        <li><a class="uk-icon" href="#blog_post_modal_{{ idx }}" uk-toggle uk-icon="icon: info; ratio: 1"></a></li>
    </ul>

    <br>

    {{ post.text|markdown }}

    <div class="uk-grid-small uk-child-width-auto" uk-grid>
        {% for tag in post.tags %}
            <div>
                <a href="{{ url_for('portfolio.blog_by_tag', tag=tag) }}"><span class="uk-label uk-background-secondary">#{{ tag }}</span></a>
            </div>
        {% endfor %}
    </div>

    <hr class="uk-margin-medium">

    <div>
        <div id="disqus_thread"></div>
        <script nonce="{{ csp_nonce() }}">
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://jedsimson-co-nz.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</div>
{% endmacro %}
