{% extends "base.html" %}
{% set active_page = "blog" %}

{% block title %}
    <title>Jed Simson &sdot; Blog | Tag: {{ tag }}</title>
{% endblock %}

{% block description %}
    <meta name="description" content="Blog posts by Jed Simson tagged {{ tag }}.">
{% endblock %}

{% block nav %}
    {% from "nav.html" import nav %}
    {{ nav(active_page) }}
{% endblock %}

{% block content %}
    <div class="uk-section uk-section-default section-pad">
        <h1 class="uk-heading-primary">Blog</h1>
        <h3 class="uk-heading-bullet">#{{ tag }}</h3>

        <div class="uk-container uk-grid-small" uk-grid>

            {% for post in posts %}
                {% from "post.html" import post_ %}
                {{ post_(loop.index, post, None, 0, False) }}

                {% from "modal.html" import modal %}
                {{ modal(loop.index, post) }}

            {% else %}
                <div class="uk-card uk-card-body uk-width-1-1">
                    <p class="text-danger text-center">
                        <strong>Sorry, no posts with that tag exist!</strong>
                    </p>
                </div>
            {% endfor %}

        </div>
    </div>

    <div class="uk-position-fixed uk-position-bottom-right uk-padding">
        <a href="#top-anchor" title="Scroll to top" uk-totop uk-scroll uk-tooltip></a>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            // Don't allow clicking the disabled pagination links
            $('.disabled-cursor').click(function() {
                return false;
            });

            // Make sure that any dropdowns are closed when a link contained in
            // a dropdown is clicked.
            $('.dropdown-link').click(function(e) {
                var link = e.target;
                var dropdown = $(link).closest('.uk-dropdown');

                // By default, UIkit waits before hiding dropdowns which we don't want,
                // so we short-circuit that behaviour.
                UIkit.dropdown(dropdown).hide(delay = false);
            });

            // Initialise code highlighting library
            hljs.initHighlightingOnLoad();

            // Bootstrap v4 doesn't style blockquote elements by default,
            // but instead requires a class to be applied
            $('blockquote').addClass('blockquote');
        });
    </script>
{% endblock %}
