{% extends "base.html" %}
{% set active_page = "blog" %}

{% block title %}
    <title>Jed Simson &sdot; Blog | {% if post %} {{ post.title }} {% else %} Not Found {% endif %}</title>
{% endblock %}

{% block description %}
    <meta name="description" content="{% if post %} {{ post.summary }} {% else %}Blog post by Jed Simson{% endif %}">
{% endblock %}

{% block nav %}
    {% from "nav.html" import nav %}
    {{ nav(active_page) }}
{% endblock %}

{% block content %}
    <div class="uk-section uk-section-default section-pad">
        <div class="uk-container uk-grid-small" uk-grid>

            {% if post %}
                {% from "article.html" import article_ %}
                {{ article_(1, post) }}

                {% from "modal.html" import modal %}
                {{ modal(1, post) }}
            {% else %}
                <div class="uk-card uk-card-body text-center">
                    <p class="text-danger">
                        <strong>Sorry, the post you are looking for doesn't exist!</strong>
                    </p>
                </div>
            {% endif %}

        </div>
    </div>

    <div class="uk-position-fixed uk-position-bottom-right uk-padding">
        <a href="#top-anchor" title="Scroll to top" uk-totop uk-scroll uk-tooltip></a>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            // Initialise code highlighting library
            hljs.initHighlightingOnLoad();

            // Bootstrap v4 doesn't style blockquote elements by default,
            // but instead requires a class to be applied
            $('blockquote').addClass('blockquote');
        });
    </script>
{% endblock %}
