{% extends "base.html" %}
{% set active_page = "blog" %}

{% block title %}
    <title>Jed Simson &sdot; Blog</title>
{% endblock %}

{% block description %}
    <meta name="description" content="Blog of Jed Simson">
{% endblock %}

{% block nav %}
    {% from "nav.html" import nav %}
    {{ nav(active_page) }}
{% endblock %}

{% block content %}
    <div class="row">
        <div id="content" role="main" class="col-md-8 col-md-offset-2">
            <div id="lead">
                <h3 class="display-4 text-xs-center">Blog</h3>
                <nav class="text-xs-center">
                    <ul class="pagination">
                        <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
                            <a class="page-link" href="/blog/page/{{ pagination.page - 1 }}/" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>

                        {% for page in pagination.generate() %}
                            <li class="page-item {% if page == pagination.page %}active{% endif %}">
                                <a class="page-link" href="/blog/page/{{ page }}/">{{ page }}</a>
                            </li>
                        {% endfor %}


                        <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
                            <a class="page-link" href="/blog/page/{{ pagination.page + 1 }}/" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div id="posts">
                {% for post in blog_posts %}
                    <section id="blog" class="card">
                        <div class="card-header card-inverse" style="background-color: #333;">
                            <h1 class="card-title">{{ post.title }}</h1>
                            <small class="card-subtitle text-muted pull-xs-right" style="padding-top: 5px;">{{ loop.index + skip }} of {{ pagination.total_count }}</small>
                            <span class="label label-primary pull-xs-left">{{ post.date.strftime('%a, %d %b %Y') }}</span>
                            <br>
                        </div>

                        <div class="card-block">
                            {{ post.text | markdown }}
                            <a href="{{ url_for('static', filename='assets/posts/' + post.filename) }}" class="card-link pull-xs-right">Download</a>
                        </div>
                    </section>
                {% else %}
                    <div class="card card-block text-xs-center">
                        <p class="card-text text-danger">
                            <strong>Sorry, I have not made any blog posts yet!</strong>
                        </p>
                    </div>
                {% endfor %}
            </div>

            <a id="to-top" href="#" class="to-top pull-xs-right text-xs-center" role="button"
               title="Go to top" data-toggle="tooltip" data-placement="left">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            // Don't allow clicking the disabled pagination links
            $('.pagination > li.disabled > a').click(function() {
                return false;
            });

            // Provide 'back to top' functionality
            $(window).scroll(function () {
                if ($(this).scrollTop() > 50) {
                    $('#to-top').fadeIn();
                } else {
                    $('#to-top').fadeOut();
                }
            });

            // scroll body to 0px on click
            $('#to-top').click(function () {
                $('to-top').tooltip('hide');
                $('body, html').animate({
                    scrollTop: 0
                }, 800);

                return false;
            });

            //$('#to-top').tooltip('show');
        });
    </script>
{% endblock %}
