{% extends "base.html" %}
{% set active_page = "blog" %}

{% block title %}
    <title>Jed Simson &sdot; Blog</title>
{% endblock %}

{% block nav %}
    {% from "nav.html" import nav %}
    {{ nav(active_page) }}
{% endblock %}

{% block content %}
    <div class="row">
        <div id="content" role="main" class="col-md-6 col-md-offset-3">
            <div id="lead">
                <h3 class="display-4 text-xs-center">Blog</h3>
            </div>

            <div id="posts">
                {% for post in blog_posts %}
                    <section id="blog" class="card">
                        <div class="card-header card-inverse" style="background-color: #333;">
                            <h1 class="card-title">{{ post.title }}</h1>
                            <h6 class="card-subtitle text-muted">Posted on {{ post.date.strftime('%a, %d %b %Y') }}</h6>
                        </div>

                        <div class="card-block">
                            {{ post.text | markdown }}
                        </div>
                    </section>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

