{% extends "base.html" %}
{% set active_page = "contact" %}

{% block title %}
    <title>Jed Simson &sdot; Contact</title>
{% endblock %}

{% block description %}
    <meta name="description" content="Contact Jed Simson">
{% endblock %}

{% block nav %}
    {% from "nav.html" import nav %}
    {{ nav(active_page) }}
{% endblock %}

{% block content %}
    <div class="uk-section uk-section-default section-pad">
        <div class="uk-container">
            <h1 class="uk-heading-primary">Contact</h1>

            <div id="subtext">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <p class="uk-text-success">
                            {% for message in messages %}
                                {{ message|safe }}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p class="uk-text-muted">
                            Please feel free to contact me using any of the methods provided below &mdash; generally email is the best way to get in touch!
                        </p>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>

    <div class="uk-section uk-section-default section-pad">

        <div class="uk-container uk-child-width-expand@s" uk-grid>
            <div>
                <form method="POST" action="/contact/">

                    <div class="uk-margin">
                        {% if 'name' in errors %}
                            {{ form.name(class_="uk-input uk-form-danger ", placeholder="Name") }}
                        {% else %}
                            {{ form.name(class_="uk-input ", placeholder="Name") }}
                        {% endif %}
                    </div>

                    <div class="uk-margin">
                        {% if 'email' in errors %}
                            {{ form.email(class_="uk-input uk-form-danger", placeholder="Email Address") }}
                        {% else %}
                            {{ form.email(class_="uk-input", placeholder="Email Address") }}
                        {% endif %}

                        <small class="uk-text-muted"><i>Your email address won't be saved.</i></small>
                    </div>

                    <div class="uk-margin">
                        {% if 'message' in errors %}
                            {{ form.message(class_="uk-textarea uk-form-danger", placeholder="Message") }}
                        {% else %}
                            {{ form.message(class_="uk-textarea", placeholder="Message") }}
                        {% endif %}
                    </div>

                    <div class="uk-margin text-center">
                        <div class="contact-form-errors">
                            {% if 'recaptcha' in errors %}
                                <p class="uk-text-danger">Please prove you are not a robot!</p>
                            {% endif %}
                            {{ form.recaptcha }}
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="uk-button uk-button-primary">Submit</button>
                    </div>

                    {{ form.csrf_token }}

                </form>
            </div>

            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <address class="text-center">
                        <strong>Jed Simson</strong><br>
                        <span uk-icon="icon: mail"></span> <a href="mailto:jed.simson@gmail.com">jed.simson@gmail.com</a><br>
                        <span uk-icon="icon: phone"></span> <a href="tel://0278459720">027 845 9720</a>
                    </address>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

