{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}
    <title>Jed Simson &sdot; Portfolio</title>
{% endblock %}

{% block nav %}
    {% from "nav.html" import nav %}
    {{ nav(active_page) }}
{% endblock %}


{% block content %}
    <div class="content content-home">
        <div class="row justify-content-center pb-10">
            <div>
                <img src="{{ url_for('static', filename='assets/images/me-min.png') }}"
                alt="me" width=200 height=200 title="Jed Simson"/>
            </div>
        </div>

        <div class="row justify-content-center pb-10">
            <div>
                <h1 class="text-center">Jed Simson</h1>

                <p class="text-muted text-center text-uppercase">
                    Computer Scientist &sdot; Software Developer &sdot; Musician
                </p>
            </div>
        </div>

        <hr>

        <div class="row justify-content-center">
            <div class="p-20">                                
                <a href="https://www.linkedin.com/in/jedsimson" target="_blank" data-toggle="tooltip" data-title="LinkedIn" data-placement="bottom">
                    <i data-feather="linkedin" width="40" height="40" alt="LinkedIn"></i>
                </a>
            </div>
            <div class="p-20">
                <a href="https://github.com/JedS6391" target="_blank" data-toggle="tooltip" data-title="GitHub" data-placement="bottom">
                    <i data-feather="github" width="40" height="40" alt="GitHub"></i>
                </a>
            </div>
            <div class="p-20">
                <a href="https://soundcloud.com/jed-simson" target="_blank" data-toggle="tooltip" data-title="SoundCloud" data-placement="bottom">
                    <i data-feather="headphones" width="40" height="40" alt="SoundCloud"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

