{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}
    <title>Jed Simson &sdot; Portfolio</title>
{% endblock %}

{% block nav %}
    {% from "nav.html" import nav %}
    {{ nav(active_page) }}
{% endblock %}

{% block content %}
    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <div>
                <center>
                    <img src="{{ url_for('static', filename='assets/images/me-min.png') }}"
                         alt="me" width=200 height=200 title="Jed Simson"/>
                </center>

                <h1 class="uk-heading-primary uk-text-center">Jed Simson</h1>

                <p class="uk-text-muted uk-text-center">
                    COMPUTER SCIENTIST &sdot; SOFTWARE DEVELOPER &sdot; MUSICIAN
                </p>
            </div>

            <hr class="uk-margin-medium">

            <div class="uk-child-width-1-3@m uk-width-1-4 uk-grid-small uk-grid-match center" uk-grid>

                <div>
                    <a href="https://www.linkedin.com/in/jedsimson" target="_blank">
                        <img src="{{ url_for('static', filename='assets/images/icons/linkedin.svg') }}" width="40" height="40" alt="LinkedIn">
                    </a>
                </div>
                <div>
                    <a href="https://github.com/JedS6391" target="_blank">
                        <img src="{{ url_for('static', filename='assets/images/icons/github.svg') }}" width="40" height="40" alt="LinkedIn">
                    </a>
                </div>
                <div>
                    <a href="https://soundcloud.com/jed-simson" target="_blank">
                        <img src="{{ url_for('static', filename='assets/images/icons/gitlab.svg') }}" width="40" height="40" alt="LinkedIn">
                    </a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

