{% set navigation_bar = [
    ('/', 'home', 'HOME'),
    ('/about/', 'about', 'ABOUT'),
    ('/blog/', 'blog', 'BLOG'),
    (url_for('static', filename='assets/cv/CV - 2020.pdf'), 'cv', 'CURRICULUM VITAE'),
    ('/contact/', 'contact', 'CONTACT')
] -%}

{% macro nav(page) %}
<!-- Standard navigation bar -->
<nav class="navbar hidden-sm-and-down">
    <ul class="navbar-nav">
        {% for href, id, caption in navigation_bar %}
            <li class="nav-item {% if id == page %} active {% endif %}">
                <a class="nav-link" href="{{ href|e }}">{{ caption|e }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="navbar-content ml-auto">                
        <button id="dark-mode-toggle--full-size" class="btn btn-action" type="button" data-toggle="tooltip" data-title="Toggle dark mode" data-placement="left">
            <i data-feather="moon" alt="Toggle dark mode" width="16" height="16"></i>
        </button>
    </div>
</nav>

<!-- Mobile navigation bar -->
<nav class="navbar hidden-md-and-up">
    <div class="navbar-content">
        <button id="sidebar-toggle" class="btn btn-action" type="button">
            <i data-feather="menu" alt="Menu" width="16" height="16"></i>
        </button>
    </div>

    <div class="navbar-content ml-auto">                
        <button id="dark-mode-toggle--mobile-size" class="btn btn-action" type="button" data-toggle="tooltip" data-title="Toggle dark mode" data-placement="left">
            <i data-feather="moon" alt="Toggle dark mode" width="16" height="16"></i>
        </button>
    </div>
</nav>

{% endmacro %}
