{% set navigation_bar = [
    ('/', 'home', 'HOME'),
    ('/about/', 'about', 'ABOUT'),
    ('/blog/', 'blog', 'BLOG'),
    (url_for('static', filename='assets/cv/CV - 2017.pdf'), 'cv', 'CURRICULUM VITAE'),
    ('/contact/', 'contact', 'CONTACT')
] -%}

{% macro nav(page) %}
<nav class="uk-navbar-container uk-visible@m" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            {% for href, id, caption in navigation_bar %}
                <li{% if id == page %} class="uk-active"{% endif %}>
                    <a href="{{ href|e }}">{{ caption|e }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>


<div class="uk-hidden@m uk-background-muted uk-animation-fade">
    <a uk-navbar-toggle-icon="" href="#mobile-nav" uk-toggle="" class="uk-navbar-toggle-icon uk-icon" style="padding: 10px;"></a>
</div>

<div id="mobile-nav" uk-offcanvas="mode: push; overlay: true" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <div class="uk-panel">
            <ul class="uk-nav uk-nav-default mobile-nav-menu">
                {% for href, id, caption in navigation_bar %}
                    <li{% if id == page %} class="uk-active"{% endif %}>
                        <a href="{{ href|e }}">{{ caption|e }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endmacro %}
