{% macro post_(idx, post, pagination, skip, show_full_post) %}
<div class="uk-card uk-card-default uk-card-hover uk-width-1-1">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
                <h1 class="uk-card-title"><a class="uk-card-title" href="{{ url_for('portfolio.blog_post', year=post.year, month=post.month, day=post.day, slug=post.slug) }}">{{ post.title }}</a></h1>

                <div class="uk-align-right">
                    <small class="uk-text-muted">
                        {% if pagination %}
                            {{ idx + skip }} of {{ pagination.total_count }} &blacktriangledown;
                        {% endif %}
                    </small>
                    <div uk-dropdown="mode: click; boundary: .uk-card" id="blog_post_dropdown_{{ idx }}">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-nav-header">Options</li>
                            <li class="uk-nav-divider"></li>
                            <li><a class="dropdown-link" href="{{ url_for('static', filename='assets/posts/' + post.filename) }}">Download</a></li>
                            <li><a class="dropdown-link" href="#blog_post_modal_{{ idx }}" uk-toggle>Info</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-card-badge uk-label uk-visible@m">{{ post.date }}</div>
    </div>

    <div class="uk-card-body">
        {% if post.words <= 500 or show_full_post %}
            {{ post.text|markdown }}
        {% else %}
            {{ post.text|markdown|truncate(800, end='...') }}
            <a class="uk-link uk-align-right" href="{{ url_for('portfolio.blog_post', year=post.year, month=post.month, day=post.day, slug=post.slug) }}"> Continue Reading...</a>
        {% endif %}
    </div>

    <div class="uk-card-footer">
        <!-- Show the post date with the tags when on mobile -->
        <div class="uk-label uk-hidden@m">{{ post.date }}</div>

        {% for tag in post.tags|format_tags %}
            <a href="{{ url_for('portfolio.blog_by_tag', tag=tag) }}"><span class="uk-label  uk-background-secondary">#{{ tag }}</span></a>
        {% endfor %}
    </div>
</div>
{% endmacro %}
