{% macro post_(idx, post, pagination, skip, show_full_post) %}
<section id="blog" class="card">
    <div class="card-header">
        <h1 class="card-title"><a href="{{ url_for('portfolio.blog_post', post=idx)}}" style="color:#373a3c;">{{ post.title }}</a></h1>

        <span class="label label-primary pull-xs-left">{{ post.date }}</span>

        <div class="dropdown dropdown-menu-right pull-xs-right">


            <small class="card-subtitle text-muted dropdown-toggle pull-xs-right" style="padding-top: 5px;" class="dropdown-toggle" id=blog_post_dropdown_{{ idx }}" data-toggle="dropdown">
                {% if pagination %}
                    {{ idx + skip }} of {{ pagination.total_count }}
                {% endif %}
            </small>
            <div class="dropdown-menu" aria-labelledby="blog_post_dropdown_{{ idx }}">
                <h6 class="dropdown-header">Options</h6>
                <div class="dropdown-divider"></div>
                <a href="{{ url_for('static', filename='assets/posts/' + post.filename) }}" class="dropdown-item">Download</a>
                <a href="#" class="dropdown-item" data-toggle="modal" data-target="#blog_post_modal_{{ idx }}">Info</a>
            </div>
        </div>
        <br>
    </div>

    <div class="card-block">
        {% if post.words <= 500 or show_full_post %}
            {{ post.text|markdown }}
        {% else %} 
            {{ post.text|markdown|truncate(800, end='...') }}
            <a class="card-link pull-xs-right" href="{{ url_for('portfolio.blog_post', post=idx) }}"> Continue Reading...</a><br>
            <br>
        {% endif %}

        {% for tag in post.tags|format_tags %}
            <a href="{{ url_for('portfolio.blog_by_tag', tag=tag) }}"><span class="label label-primary">#{{ tag }}</span></a>
        {% endfor %}

    </div>
</section>
{% endmacro %}
